<div class="d-flex flex-column align-top justify-content-center text-center">
    <h5 class="align-self-center">Добро пожаловать на DocTicket!</h5>
    <div class="d-inline-block align-top justify-content-center text-start m-4">
        <p>В приложении вы можете заказать талон к врачу, а также обменяться талоном с другим пользователем.</p>
        <p>Для возможности отправки запроса на обмен талонами существуют следующие требования:</p>
        <ul>
            <li>У вас должен быть заказан талон.</li>
            <li>Отправить предложение на обмен можно только к тому же врачу и на ту же дату, что и у заказанного вами талона.</li>
        </ul>
    </div>
</div>
