@model IEnumerable<ShortPolyclinicInfoViewModel>

<div class="d-flex flex-column">
    @if (Context.User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary btn-lg">Добавить</button>
        </div>
    }

    <div class="row row-cols-1 row-cols-md-1 g-4">
        @foreach (var polyclinic in Model){
            @Html.PartialAsync("_ShortPolyclinicPartial", polyclinic).Result
        }
    </div>
</div>

