@model IEnumerable<ShortDoctorInfoViewModel>

@{
    bool isAdmin = Context.User.IsInRole("Admin");
}

<div class="d-flex flex-column">
    @if (isAdmin)
    {
        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-primary btn-lg">Добавить</a>
        </div>
    }

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var doctor in Model)
        {
            <div class="col">
                <div class="card py-0 border-primary m-2">
                    <div class="d-flex card-body justify-content-around">
                        <div class="p-2">
                            <h5>@doctor.FullName</h5>
                            <p class="card-text">@doctor.Specialization</p>
                            <p class="card-text">@doctor.PolyclinicName</p>
                        </div>
                        <div class="d-flex flex-column p-2">
                            <a class="btn btn-primary m-1" asp-action="Details" asp-route-id="@doctor.Id">Заказать талон</a>

                            @if (isAdmin)
                            {
                                <a class="btn btn-danger m-1">Удалить</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
